<app-filter [all] = "allProducts" [inStock]="inStockProducts" [outOfStock]="outOfStockProducts" (selectedFilterRadioValueChanged)="onFilterValueChange($event)"></app-filter>
<div class="ekart--products--container">

    <ng-container *ngFor="let prod of products">
         <app-product  
            [product]="prod" 
            (click)="selectedProduct = prod"
            *ngIf = " selectedFilterValue == 'All' || prod.is_in_inventory.toString() == selectedFilterValue">
        </app-product>
         <!-- <app-product [product]="prod" *ngIf="prod.name.toLocaleLowerCase().includes(searchText)"></app-product> -->
    </ng-container>
</div>